body{
    background: #fff !important;
}

.main{
    width: 100%;
    /* max-width: 900px; */
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}

.main .header i{
    
}
.title{
    margin-bottom: 30px;
}
.wrap{
    position: relative;
    padding-top: 100px;
}
.wrap .annex{
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.count_wrap{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}
.count_wrap .counter{
    border: 2px solid #000;
    padding: 10px 9px;
    justify-self: flex-end;
    position: absolute;
    width: 180px;
    height:65px;
    right: 0;
    padding-bottom: 2px;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
.count_wrap .counter .code span{
    text-decoration: underline;
    font-weight: 600;
}

.count_wrap .header{
    width: 100%;
    max-width: 260px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.count_wrap .header img{
    height: 170px;
    width: 150px;
    margin-bottom: 10px;
}
.count_wrap .header .header_title{
    font-weight: bold;
    text-align: center;
    font-family: "Bookman Old Style", Georgia, serif;
    font-size: 18px;
}

table, td, th {
border: 1px solid;
}

table {
width: 100%;
border-collapse: collapse;
}
table tbody tr{
display: grid;
grid-template-columns: 260px 1fr;
border-top: 1px solid #000;
/* border: 0.1rem solid #000; */
}
table tbody tr td{
    font-weight: 600;
}
table tbody tr .sign{
    grid-column: 1/3;
}
table tbody tr .sign i{
    font-size: 15px;
}
table tbody tr .sign strong{
    font-size: 15px;
}
table tbody tr .sign .sign_wrap{
    padding: 0 40px;
    display:  grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 40%;
    grid-gap: 50px;
}
table tbody tr .sign .sign_wrap .line{
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    display: flex;
    align-self: flex-end;
}
table tbody tr .sign .sign_wrap span{
    font-size: 17px;
    text-align: center;
    display: grid;
    grid-template-rows: 173px  1fr;
}
table tbody tr .sign .sign_wrap p{
    margin: 0;
}
table tbody tr .sign .sign_wrap span{
    /* background: pink; */
}
table tbody tr .sign .sign_wrap .dates{
    display: flex;
    align-self: flex-end;
}
table tbody tr .sign .sign_wrap span .line{
    height: auto;
    background: none;
    border-bottom: 2px solid #000;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;
}
table tbody tr .sign .sign_wrap span .line .pos{
    font-size: 16px;
    font-weight: 500;
}
.table td {
    text-align:left;
}
table .bold{
font-weight: bold;
font-size: 22px;
}
table .bold span{
    font-weight: 500;
    font-size: 19px;
}
.main h3{
text-align: center;
font-size: 28px;
font-weight: bold;
font-family: Cambria, Georgia, serif;font-style: normal; font-variant: normal;
}
.btn_wrapp{
width: 100%;
max-width: 900px;
margin: 0 auto;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    /* border-top: 0 !important; */
}
table tbody tr:nth-child(1){
    border-top: 1px solid #000;

}
table tbody tr td:nth-child(2){
    font-size: 20px;
}
table tbody tr .bold{
    font-family: Cambria, Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}
table tbody tr .sign .sign_wrap span .line .name{
    font-size: 22px;
}

.modal .numberEdit{
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
}
/* 
.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: unset;
} */
